
.main {
  width: 18px;
  height: 18px;
  border-radius: 12px;
  border: 1px solid #808080;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSelected {
  border-color:#007AFF;
}

.point {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: #007AFF;
  position: absolute;
  z-index: 1;
}