.main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.contentWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.content{
  padding:20px;
}

.columns{
  display: flex;
  flex-direction: row;
  width: 900px;
  flex:1;
}

.dataColumn {
  flex: 1;
  margin-right: 50px;
  background-color: yellowgreen;
  height: 300px;
}

.summaryColumn {
  flex: 1;
  margin-left: 50px;
  background-color: violet;
  height: 300px;
}

.stickySummary {
  position: sticky;
  top: 20px;
}



@media (max-width: 900px) {

  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .columns{
    width: 100%;
    flex-direction: column;
    flex:1;
  }

  .dataColumn {
    margin-right: 0px;
    width: 100%;
  }

  .summaryColumn {
    margin-left: 0px;
    width: 100%;
  }

}